@{
    ViewData["Title"] = "Contact Us";
}
<style>
    input.form-control:focus, textarea.form-control:focus  {
        outline: none !important;
        box-shadow: none !important;    }
    /* Hide spin buttons in Chrome, Edge, and Safari */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;    }

    /* For Firefox */
    input[type="number"] {
        -moz-appearance: textfield;

    .col-md-5{
        border-top: 6px solid blue !important;
        border-radius: 12px 12px 12px 12px !important;
        
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto border bg-white p-4 shadow">
            <h5 class="text-center d-block">Contact us</h5>
            <div>
                <form asp-controller="ContactUs" asp-action="Contact" method="post">
                    <div class="mb-2">
                        <label class="form-label" for="Name">Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" autofocus required />                        
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="Email">Email Address</label>
                        <input type="email" name="Email" id="Email" class="form-control" required />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="phone">Phone No</label>
                        <input type="number" name="Phone" id="phone" class="form-control" maxlength="10" required />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="message">Message</label>
                        <textarea class="form-control" name="Message" id="message" required></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-sm">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* @{
    if (ViewBag.Message!=null)
    {
        <h5>@ViewBag.Message</h5>
    }
 *@
<partial name="_EmailNotification" />
<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        const inputs = this.querySelectorAll("input[required], textarea[required]");
        for (const input of inputs) {
            if (!input.value.trim()) {
                alert(`${input.name} cannot be empty or whitespace only.`);
                input.focus(); // Focus on the invalid input
                event.preventDefault();
                return;
            }
        }
    });
</script>
