
@{
    ViewData["Title"] = "Import Department";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
           <partial name="_ImportExclNotification" />         
            <form asp-controller="ImportDepartment" asp-action="ImportDepartment" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Select Excel File</label>
                    <input type="file" class="form-control" name="DeptExlFile" autofocus accept=".xls, .xlsx, .csv " required />
                </div>                
                <div>
                    <input type="submit" value="Upload" class="btn btn-primary btn-sm" />
                </div>                
            </form>
            <div class="mt-3">
                @{
                    if (TempData["DeptImportError"] != null)
                    {
                        <p class="text-danger">@TempData["DeptImportError"]</p>
                    }
                }
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @{
                if (ViewBag.Departments != null)
                {
                    <table class="table w-50">
                           <thead>
                                <th>#</th>
                                <th>Department Name</th>
                            </thead>
                    <tboddy>
                        @{      var srNo = 1;
                                foreach (var dept in ViewBag.Departments)
                                {
                                   <tr> <td>@srNo</td>
                                        <td>@dept.Name</td>
                                   </tr>
                                   srNo++;
                                }
                            }
                        </tboddy>
                   </table>
                }
            }


        </div>

    </div>

</div>
